{% extends 'base.html' %}

{% block content %}


<h1 class="h3 my-4">Корзина</h1>

<div class="row mt-5">
    <div class="col-4">
    {% include 'forms/order.html' %}
    </div>
    <div class="col-1"></div>
    <div class="col-7">
        <h3 class="mb-3 col-7 mt-1">{{ title }}</h3>
        {% if products|length > 0 %}
        <table class="table">
            <tbody>
            {% for product in products %}
            <tr>
                <th scope="row">{{ product.title }}</th>
                <td></td>
                <td>1</td>
                <td>{{ product.price }}</td>
                <td><a class="text-danger" href="{{ url_for('cart_remove', product_id = product.id) }}">Удалить</a></td>
            </tr>
           {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <hr>
        <h4 class="my-2 ">{{ total_amount }}</h4>
    </div>
</div>
{% endblock %}